
@model IEnumerable<LearningSystem.Web.Models.StudyMaterialViewModel>

@{
    ViewBag.Title = "Index";
}

<h1>Study Materials</h1>

<div class="row">
    @if (Model.Any())
    {
        foreach (var material in Model)
        {
            <h4>@material.Title</h4>
            <p>@material.Content</p>
        }
    }
    else
    {
        <h2>no</h2>
    }
</div>

