
@{
    ViewBag.Title = "Info";
}
<br/><br />
<div class="row">
    <div class="col-md-12">
        <p>
            MTA validates building-block technology concepts and helps students explore, discover and pursue successful careers in Information Technology (IT) in an exciting and rewarding way!
            As the fi rst step in the Microsoft Technology Certifi cation Series, this new, entry-level certifi cation provides students with confi dence,
            credibility, and differentiation. Explore IT career options without committing a lot of time and resources
            MTA exams validate the core technology knowledge that is in demand today by businesses around the world.
            Whether you want to explore becoming a network administrator, software engineer, web developer, or database analyst, MTA gets you started on the right path.
             Certifi ed Technology Specialist (MCTS) certifi cations. It can also help you compete on college admissions and jumpstart your IT career planning!
        </p>
        <p>
            Candidates for this exam are seeking to prove core software development skills. It is recommended that
            candidates be familiar with the concepts of and have hands-on experience with the technologies described here either
            by taking relevant training courses or by working with tutorials and samples available on MSDN and in Microsoft Visual Studio.
            Candidates are expected to have some experience with C# or Microsoft Visual Basic .NET.
        </p>

        <p>
            Sections:
            <ul>
                <li>
                    Core Programming
                </li>
                <li>
                    Object-oriented Programming
                </li>
                <li>
                    General Software Development
                </li>
                <li>
                    Web Applications
                </li>
                <li>
                    Desktop Applications
                </li>
                <li>
                    Databases
                </li>
            </ul>
        </p>
    </div>
</div>