@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-size: 3.5em;">Microsoft Technology Associate </h1>
    <p class="lead">Prepare for MTA: Developer certification - Software Development Fundamentals exam</p>
    <p>Exam 98-361</p>
    <p><a href="https://www.microsoft.com/en-us/learning/exam-98-361.aspx" class="btn btn btn-lg" target="blank"> Microsoft Official Website</a>
    </p>
    <p>
        <a href="https://www.microsoft.com/en-us/learning/exam-98-361.aspx" class="btn btn-primary btn"> Exam Details &raquo;</a>
        <a href="https://www.microsoft.com/en-us/learning/exam-98-361.aspx" class="btn btn-primary btn-lg"> Get Started &raquo;</a>
        
    </p>
</div>



