@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="text-center">
        <p class="lead">
            Prepare for
        </p>
        <h1 style="font-size: 3.5em;">
            Microsoft Technology Associate
        </h1>
        <p class="lead">
            Developer certification - Software Development Fundamentals
        </p>
        <h3>
            Exam 98-361
        </h3>
        <p>
            <a href="#">Login</a> or <a href="#">Register</a> to get started.
        </p>
    </div>
    
    <p class="text-right"><a href="https://www.microsoft.com/en-us/learning/exam-98-361.aspx" class="btn btn btn-lg text-center" target="blank"> Microsoft Official Website</a>
    </p>
    <p class="text-right">
        <a href="https://www.microsoft.com/en-us/learning/exam-98-361.aspx" class="btn btn-primary btn"> Exam Details &raquo;</a>

    </p>
</div>



