@model IEnumerable<LearningSystem.ViewModels.Study.AllMaterialsViewModel>
@{
    ViewBag.Title = "AllMaterials";
}

<div class="page-header">
    <h2>All study materials</h2>
</div>


<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
        <a href="/studymaterial/add-material" class="btn btn-info">Add study material</a>
    </div>
    <div class="col-md-3">
        <a href="/studymaterial/sections" class="btn btn-info">Study materials by section</a>
    </div>
</div>

<br/>

@foreach (var material in Model)
{
    <div class="row">
        <div class="col-md-3" >
            <a href="/StudyMaterial/Details/@material.Id" style="text-decoration: none">@material.Title</a>
        </div>
        <div class="col-md-3">
            Section: <a href="/StudyMaterial/Details/@material.Id">@material.SectionName</a>
        </div>
        <div class="col-md-3">
            Published by: @material.AuthorName
        </div>
        <div class="col-md-2">
            Votes: @material.VotesCount
        </div>
    </div>

}
