@model IEnumerable<LearningSystem.ViewModels.Study.AllSectionsViewModel>

@{
    ViewBag.Title = "AllSections";
}

<div class="page-header">
    <h2>All sections</h2>
</div>

@foreach (var sec in Model)
{
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <a href="/StudyMaterial/Section/@sec.Id">@sec.Title</a>
        </div>
    </div>
    
}
